transformers>=4.0.0
langchain>=0.0.0
gradio>=3.0.0
trl>=0.0.1
accelerate>=0.20.1
bitsandbytes>=0.38.1
datasets>=2.13.0
einops>=0.6.0
wandb>=0.16.1
torch>=2.0.1
git+https://github.com/huggingface/peft.git
